<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input class="form-control" [(ngModel)]="product.name" #name="ngModel" required minlength="3" />
      </div>
      <div class="mb-10">
        <select class="custom-select" [(ngModel)]="category">
          <option *ngFor="let categoryType of categoryTypes" [value]="categoryType">{{categoryType}}</option>
        </select>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" [disabled]="name.invalid" (click)="addProduct()" routerLink="/">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
