<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row">
        <div *ngFor="let product of productsToShow">
          <div class="col">
            <div class="span-div">
              <div class="text-center alert alert-secondary">
                {{product?.name}}
              </div>
              <div class="text-center alert alert-primary" [ngSwitch]="product?.category">
                <span *ngSwitchCase="0">Text</span>
                <span *ngSwitchCase="1">Music</span>
                <span *ngSwitchCase="2">Video</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-secondary" (click)="previous()">
          Previous
        </button>
        <button class="btn btn-secondary ml-10" (click)="next()">
          Next
        </button>
      </div>
      <div class="text-center mt-10">
        <button class="btn btn-primary" routerLink="add-product">
          Add product
        </button>
      </div>
    </div>
  </div>
</div>
